@import "../../../assets/variable.scss";

.QuitMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 120px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 60px;
  &_Wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 45px;
    aspect-ratio: 1;
    width: calc(270px - 100px);
    backdrop-filter: blur(10px);
    &_Button {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      button {
        width: 100%;
        font-weight: normal;
        color: $white;
      }
    }
  }
}