@use "../../assets/variable.scss" as v;

.puzzlePage {
  color: v.$brown;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 35px;
  flex: 1;
  gap: 20px;
  overflow: hidden;
  h2 {
    margin: 0px;
    margin-bottom: 15px;
  }

  .dropArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    background: v.$white;
    border: 1px black solid;
    margin: auto;
  }

  .piecesArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    position: relative;
    .Draggable {
      width: 100px;
      height: 100px;
      position: absolute;
    }
  }
}

// completed page

.completedPage {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: end;
  .dropArea {
    margin: 0;
  }
  .puzzlePage_Title {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    h2 {
      margin-bottom: 0px;
      font-size: v.$h1;
    }
    .underTitle {
      font-weight: 600;
      color: #828282;
      margin: 0;
    }
  }

  .leftAligned {
    text-align: left;
    margin-bottom: 35px;
    p {
      margin: 0;
    }
  }
  .buttonContainer {
    width: 100%;
  }
}
