@use "../../assets/variable.scss" as v;

.HomePage {
  display: flex;
  flex: 1 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;

  .frontpage_content {
    margin-left: 35px;
    margin-right: 35px;
    color: v.$brown;

    .single-container {
      display: flex;
    }

    .double-container {
      display: flex;
      gap: 18px;
      margin-top: 18px;
      margin-bottom: 30px;
    }
    h2 {
      margin-top:38px;
    }
  }
}
